# Ignorar arquivos do Google Drive
*.gsheet
*.gdoc
*.gsheet~
*.gslides
*.ini

# Ignorar arquivos e pastas do PyCharm/IntelliJ
.idea/
*.iml

# Ignorar arquivos temporários e de sistema
__pycache__/
*.py[cod]
*.log
.DS_Store
Thumbs.db
